<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OVChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OVChecker.Properties.Settings>
            <setting name="WorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenVINOPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkSkin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateURL" serializeAs="String">
                <value></value>
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PytestsPath" serializeAs="String">
                <value />
            </setting>
        </OVChecker.Properties.Settings>
    </userSettings>
</configuration>